/* Contenedor principal que centra el card */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f0f2f5;
}

/* CARD DEL FORMULARIO */
.form-card {
  width: 380px;
  background: white;
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0px 8px 25px rgba(0,0,0,0.1);
  text-align: center;
  animation: fadeIn 0.4s ease-in-out;
}

/* Animación suave */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.form-card h2 {
  margin-bottom: 18px;
  font-size: 22px;
  color: #333;
}

/* Inputs */
.form-card input {
  margin-top: 10px;
  width: 90%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 16px;
  transition: 0.2s;
}

.form-card input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0,123,255,0.4);
}

/* Botón */
.form-card button {
  width: 30%;
  padding: 8px;
  background: #007bff;
  border: none;
  color: white;
  font-size: 17px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.25s;
  margin-top: 10px;
  justify-content: end;
  margin-left: 40px;
}

.form-card button:hover {
  background: #0056b3;
}

/* Botón Volver */
.form-card .volver {
    color: white;
  background-color: #ff4d4d;
   border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
  width: 30%;
    padding: 12px;
  transition: 0.2s;
  margin: 10px 20px;
}

.form-card .volver:hover {
  background-color: #c70000;
}

.pie{
    display: flex;
    margin: 10px;
}

