*{
margin: 0%;
    padding: 0%;
}

body{
    
    box-sizing: border-box;
}

.link{
    text-decoration: none;
     color: white;
    font-size: 30px;
}

.header{
    background-color: #2FCBEE;
    padding: 15px;
}